@media screen and (max-width: 480px) {
    header {
        width: 100%;
        display: grid;
        grid-auto-flow: column ;
        img {
            display: none;
        }
        h1 {
            font-size: 5vw ;
            margin-right: 10px;
        }
        nav {
            width: 25vw;
        }
    }
    body{
        width: 100%;
        .iframe{
            transform: none;
            width: 100%;
        }
        .ListaHorizontal{
            display: flex;
            overflow-x: scroll;
            width: calc(100% / 1);
            height: 344px;
            align-items: normal;
            justify-content: start;
            z-index: 1;
            .card{
                margin: 0px 30px 0px 10px;
              width: 33vw;
              height: 90%;
              .card-img-top{
                width: 25vw;
                height: 25vw;
              }
              .card-body{
                    .card-text{
                        font-size: small;
                    }
                    .btn{
                        padding: 2px 4px 2px 4px;
                        width: 30vw;
                        font-size: x-small;
                    }
                }
            }
        }
        footer{
            width: 100%;
        }
        footer p {
            padding: 4px;
            font-size: 12px ;
        }
    }
}