@keyframes show {
    from{
        opacity: 0; scale: 10%;
    }
    to{
        opacity: 1; scale: 100%;
    }
}
article{
    view-timeline-name: --reveal;
    
    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 15% cover 30%;
    .ListaHorizontal{  
        display: grid;
        grid-auto-flow: column ;
        grid-auto-columns: 35%;
        overscroll-behavior-inline: contain;
        overflow: scroll;
        .card{
            background-color: transparent;
            align-items: center;
            z-index: 1;
            img{
                width: 150px;
                height: 150px;
            }
            .card-body{
                justify-content: center;
                align-items: center;
            }
            a{
                background-color: #00465e;
            }
        }
    }
}